<%= form_with(model: [:admin, @route], local: true) do |f| %>

    <% render 'common/errors', resource: @route %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, id: :route_title %>
    </div>

    <div>
      <%= f.label :railway_station_ids %>
      <%= f.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, {multiple: true} %>
    </div>

    <div class="actions">
      <%= form.submit t('.submit', action: @route.new_record? ? 'Создать' : 'Изменить') %>
    </div>
<% end %>

