<h1 align="left"> Поиск билета</h1>

<div class="row" align="left">
  <%= form_tag search_path, class: 'search_form' %>
      <div class="col-md-4">
        <%= label_tag "Начальная станция" %>
        <%= select_tag :first_station, options_from_collection_for_select(@stations, :id, :title), class: 'form-control' %>
      </div>


      <div class="col-md-4">
        <%= label_tag "Конечная станция" %>
        <%= select_tag :last_station, options_from_collection_for_select(@stations, :id, :title), class: 'form-control' %> </br>
      </div>

      <div class="col-md-4">
        <%= submit_tag "Поиск", class: 'btn btn-primary find' %>
      </div>
</div>