<p>
  <strong> Номер <%= @wagon.number %></strong>
  Верхних сидений: <%= @wagon.top_place %>
  Нижних сидений: <%= @wagon.bottom_place %>
  Верхних боковых сидений: <%= @wagon.side_top_place %>
  Нижних боковых сидений: <%= @wagon.side_bottom_place %>
</p>