<p id="notice"><%= notice %></p>

<p>
  <strong>Название вагона:</strong>
  <%= @wagon.name %>
  <strong>Верхние места:</strong>
  <%= @wagon.top_place %>
  <strong>Нижние места:</strong>
  <%= @wagon.bottom_place %>
</p>
<p>
  <strong>У поезда:</strong>
  <% if @wagon.train.present? %>
      <%= @wagon.train.number %>
  <% else %>
      у вагона не назначен поезд.
  <% end %>
</p>

<%= link_to 'Edit', edit_wagon_path(@wagon) %> |
<%= link_to 'Back', wagons_path %>



- При добавлении вагона указывается поезд, к которому он добавляется, а также:
- Тип вагона (купейный/плацкартный)
- Кол-во мест: верхних/нижних
При просмотре поезда, также должна отображаться следующая информация:
- Кол-во плацкартный/купейных вагонов в составе поезда
- Кол-во мест: плацкартных верхних/нижних, купейных верхних/нижних
